# CHURN ANALYSIS : NGO-FUND RAISING ATTRITION- CLASSIFICATION

- Model to score NGO customer base in terms of their churn probability.

    #1. Importing Libraries and dataframes

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling   
%pylab inline
plt.rcParams['figure.figsize'] = 11.7, 8.27
plt.rcParams['axes.grid'] = True
plt.gray()

Populating the interactive namespace from numpy and matplotlib

C:\Users\sony\Anaconda2\lib\site-packages\pandas_profiling\plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Users\sony\Anaconda2\lib\runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "C:\Users\sony\Anaconda2\lib\runpy.py", line 72, in _run_code
    exec code in run_globals
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\sony\Anaconda2\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\Users\sony\Anaconda2\lib\site-packages\tornado\ioloop.py", line 1064, in start
    handler_func(fd_obj, events)
  File "C:\Users\sony\Anaconda2\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\sony\Anaconda2\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\Users\sony\Anaconda2\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\sony\Anaconda2\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\sony\Anaconda2\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\sony\Anaconda2\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\sony\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py", line 2714, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\sony\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py", line 2818, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\Users\sony\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py", line 2878, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-256778f74d24>", line 4, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\sony\Anaconda2\lib\site-packages\matplotlib\pyplot.py", line 71, in <module>
    from matplotlib.backends import pylab_setup
  File "C:\Users\sony\Anaconda2\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

In [2]:
extrel = pd.read_sas('extrel.sas7bdat')
extrelty = pd.read_sas('extrelty.sas7bdat')
nameaddr = pd.read_sas('nameaddr.sas7bdat')
payhistory = pd.read_sas('payhistory.sas7bdat')
comclas = pd.read_sas('comclas.sas7bdat')
commaint = pd.read_sas('commaint.sas7bdat')
commediu = pd.read_sas('commediu.sas7bdat')
communication = pd.read_sas('communication.sas7bdat')

In [20]:
extrel.head()

  EXTRELNO EXRELACTCD EXTRELSTDT EXRELDATEN
0  0026414         CT 1995-02-02        NaT
1  0026419         FP 1992-03-01        NaT
2  0026424         FP 1992-03-01 1996-12-24
3  0026430         FP 1992-03-01 2006-01-31
4  0026430         CT 1997-03-07        NaT

In [29]:
extrel['Churn'] = extrel.EXRELDATEN.apply(lambda x: 0 if pd.isnull(x) else 1)

In [31]:
extrel.head()

  EXTRELNO EXRELACTCD EXTRELSTDT EXRELDATEN  Churn
0  0026414         CT 1995-02-02        NaT      0
1  0026419         FP 1992-03-01        NaT      0
2  0026424         FP 1992-03-01 1996-12-24      1
3  0026430         FP 1992-03-01 2006-01-31      1
4  0026430         CT 1997-03-07        NaT      0

In [33]:
data1=pd.read_sas("comclas.sas7bdat")
data1.head()

  CLASCODE                 CLASDESC
0       CT                 CTS-item
1       RI  Request for information
2       CM                Complaint
3       TA     Threath / Accusation
4       AK          Acknowledgement

In [34]:
data1[data1.CLASCODE=='CT']

  CLASCODE  CLASDESC
0       CT  CTS-item