#

# Importing Python packages

In [362]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
%pylab inline
plt.rcParams['figure.figsize'] = 10, 7.5
plt.rcParams['axes.grid'] = True
plt.gray()

Populating the interactive namespace from numpy and matplotlib

# PART - 1 Identify providers that overcharge for cretain procedures or regions where procedures are to expensive

# Import all csv files

In [363]:
inpat_summ = pd.read_csv('Medicare_Charge_Inpatient_DRG100_DRG_Summary_by_DRG_FY2011.csv')
outpat_summ = pd.read_csv('Medicare_Charge_Outpatient_APC30_Summary_by_APC_CY2011.csv')
p_chrg_inpat = pd.read_csv('Medicare_Provider_Charge_Inpatient_DRG100_FY2011.csv')
p_chrg_outpat = pd.read_csv('Medicare_Provider_Charge_Outpatient_APC30_CY2011_v2.csv')

In [364]:
p_chrg_inpat.head(2)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07692,5777.241758,4763.736264
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85714,5787.571429,4976.714286

In [365]:
# Data cleaning and mining

In [366]:
# for Medicare Charge Inpatient

In [367]:
p_chrg_inpat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163065 entries, 0 to 163064
Data columns (total 12 columns):
DRG Definition                                163065 non-null object
Provider Id                                   163065 non-null int64
Provider Name                                 163065 non-null object
Provider Street Address                       163065 non-null object
Provider City                                 163065 non-null object
Provider State                                163065 non-null object
Provider Zip Code                             163065 non-null int64
Hospital Referral Region (HRR) Description    163065 non-null object
Total Discharges                              163065 non-null int64
Average Covered Charges                       163065 non-null float64
Average Total Payments                        163065 non-null float64
Average Medicare Payments                     163065 non-null float64
dtypes: float64(3), int64(3), object(6)
memory usage: 14.9+ MB

In [368]:
p_chrg_inpat.describe().T

,count,mean,std,min,25%,50%,75%,max
Provider Id,163065.0,255569.865428,151563.671767,10001.000000,110092.000000,250007.000000,380075.00000,670077.0000
Provider Zip Code,163065.0,47938.121908,27854.323080,1040.000000,27261.000000,44309.000000,72901.00000,99835.0000
Total Discharges,163065.0,42.776304,51.104042,11.000000,17.000000,27.000000,49.00000,3383.0000
Average Covered Charges,163065.0,36133.958434,35065.365905,2459.400000,15947.166670,25245.823530,43232.59259,929118.9091
Average Total Payments,163065.0,9707.477867,7664.642652,2673.000000,5234.500000,7214.100000,11286.40000,156158.1818
Average Medicare Payments,163065.0,8494.495174,7309.467247,1148.909091,4192.354839,6158.465116,10056.88235,154620.8182

In [369]:
p_chrg_outpat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43372 entries, 0 to 43371
Data columns (total 11 columns):
APC                                           43372 non-null object
Provider Id                                   43372 non-null int64
Provider Name                                 43372 non-null object
Provider Street Address                       43372 non-null object
Provider City                                 43372 non-null object
Provider State                                43372 non-null object
Provider Zip Code                             43372 non-null int64
Hospital Referral Region (HRR) Description    43372 non-null object
Outpatient Services                           43372 non-null int64
Average  Estimated Submitted Charges          43372 non-null float64
Average Total Payments                        43372 non-null float64
dtypes: float64(2), int64(3), object(6)
memory usage: 3.6+ MB

In [370]:
p_chrg_outpat.describe().T

,count,mean,std,min,25%,50%,75%,max
Provider Id,43372.0,265410.921747,152729.927698,10001.00000,140043.000000,260091.000000,390101.000000,670061.000000
Provider Zip Code,43372.0,49041.022434,27497.899751,1040.00000,28645.000000,46342.000000,73101.000000,99801.000000
Outpatient Services,43372.0,587.980955,3280.397168,11.00000,42.000000,128.000000,347.000000,219042.000000
Average Estimated Submitted Charges,43372.0,1473.994047,1837.530791,12.64375,284.610498,709.995188,2102.121346,32105.636300
Average Total Payments,43372.0,265.425586,261.260146,7.30500,74.627714,139.298570,394.211316,2062.470526

# Part - 1 Identify providers that overcharge for certain procedures or regions where procedures are too expensive.

# Part - 1A High Cost variation procedures for inpatient

In [371]:
grpd = p_chrg_inpat[['Average Total Payments', 'DRG Definition']].groupby('DRG Definition').agg(['max', 'min']).add_prefix('m_')

In [372]:
grpd.head()

                                                   m_Average Total Payments  \
                                                                      m_max
DRG Definition
039 - EXTRACRANIAL PROCEDURES W/O CC/MCC                        18420.56250
057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/O...              25519.43750
064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFAR...              50882.40625
065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFAR...              26510.15842
066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFAR...              14744.05882


                                                          m_min
DRG Definition
039 - EXTRACRANIAL PROCEDURES W/O CC/MCC            4968.000000
057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/O...  4194.090909
064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFAR...  8174.285714
065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFAR...  5368.733333
066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFAR...  3916.416667

In [373]:
grpd.reset_index(inplace = True)

In [374]:
grpd.head()

                                      DRG Definition m_Average Total Payments  \
                                                                        m_max
0           039 - EXTRACRANIAL PROCEDURES W/O CC/MCC              18420.56250
1  057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...              25519.43750
2  064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...              50882.40625
3  065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...              26510.15842
4  066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...              14744.05882


         m_min
0  4968.000000
1  4194.090909
2  8174.285714
3  5368.733333
4  3916.416667

In [375]:
grpd['cost_var_inpat'] = grpd['m_Average Total Payments']['m_max'] - grpd['m_Average Total Payments']['m_min']

In [376]:
grpd.sort_values(by='cost_var_inpat', ascending=False).head()

                                       DRG Definition  \

21  207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATO...
91  853 - INFECTIOUS & PARASITIC DISEASES W O.R. P...
66        460 - SPINAL FUSION EXCEPT CERVICAL W/O MCC
92   870 - SEPTICEMIA OR SEVERE SEPSIS W MV 96+ HOURS
67  469 - MAJOR JOINT REPLACEMENT OR REATTACHMENT ...

   m_Average Total Payments              cost_var_inpat
                      m_max        m_min
21              156158.1818  22311.53846   133846.64334
91              140255.2667  22112.33333   118142.93337
66              131187.3571  16771.81818   114415.53892
92              119028.9091  20536.64286    98492.26624
67              100018.3333  12810.06667    87208.26663

# Result

Three Procedures with highest cost variation for inpatients are :

1. 207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATOR SUPPORT 96+ HOURS is 133846.64334 Dollars. 
2. 853 - INFECTIOUS & PARASITIC DISEASES W O.R. PROCEDURE W MCC is 118142.93337 Dollars
3. 460 - SPINAL FUSION EXCEPT CERVICAL W/O MCC is 114415.53892 Dollars

# Part - 1A High Cost variation procedures for outpatient

In [377]:
grpd1 = p_chrg_outpat[['Average Total Payments', 'APC']].groupby('APC').agg(['max', 'min']).add_prefix('m_')

In [378]:
grpd1.reset_index(inplace = True)

In [379]:
grpd1.head()

                                          APC m_Average Total Payments  \
                                                                 m_max
0    0012 - Level I Debridement & Destruction                36.623853
1   0013 - Level II Debridement & Destruction                85.930000
2  0015 - Level III Debridement & Destruction               142.186505
3             0019 - Level I Excision/ Biopsy               470.720000
4            0020 - Level II Excision/ Biopsy               808.850000


        m_min
0    7.305000
1   23.267308
2   36.415769
3  204.989200
4  271.806923

In [380]:
grpd1['cost_var_outpat'] = grpd['m_Average Total Payments']['m_max'] - grpd['m_Average Total Payments']['m_min']

In [381]:
grpd1.sort_values(by='cost_var_outpat', ascending=False).head()

                                               APC m_Average Total Payments  \
                                                                      m_max
21                 0377 - Level II Cardiac Imaging              1050.740000
28  0692 - Level II Electronic Analysis of Devices               153.420000
27   0690 - Level I Electronic Analysis of Devices                48.510000
12               0207 - Level III Nerve Injections               712.091765
2       0015 - Level III Debridement & Destruction               142.186505

               cost_var_outpat
         m_min
21  488.772308   133846.643340
28   53.610000    75983.897234
27   29.390000    73898.934474
12  254.880909    66601.871246
2    36.415769    42708.120536

# Result

Three Procedures with highest cost variation for outpatients are :

1. 0377 - Level II Cardiac Imaging is 133846.643340 Dollars. 
2. 0692 - Level II Electronic Analysis of Devices is 75983.897234 Dollars
3. 0690 - Level I Electronic Analysis of Devices is 73898.934474 Dollars

# Part - 1B Highest Cost-Claims by Providers for Inpatients

In [382]:
grpd1b_in = p_chrg_inpat[['Provider Id', 'Average Covered Charges']].groupby(['Provider Id']).max()

In [383]:
grpd1b_in.sort_values(by='Average Covered Charges', ascending=False).head()

             Average Covered Charges
Provider Id
50441                    929118.9091
50195                    918023.1818
50367                    628730.4000
390027                   613926.6071
310118                   602981.3784

In [384]:
p_chrg_inpat[(((p_chrg_inpat['Provider Id']==50195) & (p_chrg_inpat['Average Covered Charges']==918023.1818)) | ((p_chrg_inpat['Provider Id']==50441) & (p_chrg_inpat['Average Covered Charges']==929118.9091)) | ((p_chrg_inpat['Provider Id']==50367) & (p_chrg_inpat['Average Covered Charges']==628730.4000)))].sort_values(by='Average Covered Charges', ascending=False)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
39562,207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATO...,50441,STANFORD HOSPITAL,300 PASTEUR DRIVE,STANFORD,CA,94305,CA - San Mateo County,11,929118.9091,156158.1818,154620.8182
39529,207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATO...,50195,WASHINGTON HOSPITAL,2000 MOWRY AVE,FREMONT,CA,94538,CA - Alameda County,11,918023.1818,119113.0000,113462.0909
151380,870 - SEPTICEMIA OR SEVERE SEPSIS W MV 96+ HOURS,50367,NORTHBAY MEDICAL CENTER,1200 B GALE WILSON BLVD,FAIRFIELD,CA,94533,CA - Contra Costa County,20,628730.4000,84617.9000,83534.6500

# Result

Top 3 Providers with highest claims for inpatients are : 
    
1. Provider ID - 50441, Provider Name - WASHINGTON HOSPITAL, DRG Definition - 207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATOR SUPPORT 96+ HOURS
2. Provider ID - 50195, Provider Name - STANFORD HOSPITAL, DRG Definition - 207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATOR SUPPORT 96+ HOURS
3. Provider ID - 50367, Provider Name - NORTHBAY MEDICAL CENTER, DRG Definition - 870 - SEPTICEMIA OR SEVERE SEPSIS W MV 96+ HOURS

# Part - 1B Highest Cost-Claims by Providers for Outpatients

In [385]:
grpd1b_out = p_chrg_outpat[['Provider Id', 'Average  Estimated Submitted Charges']].groupby(['Provider Id']).max()

In [386]:
grpd1b_out.sort_values(by='Average  Estimated Submitted Charges', ascending=False).head()

             Average  Estimated Submitted Charges
Provider Id
100223                                32105.63630
50764                                 32079.99067
100179                                27625.39130
50739                                 26466.64500
50133                                 26084.48588

In [390]:
p_chrg_outpat[(((p_chrg_outpat['Provider Id']==100223) & (p_chrg_outpat['Average  Estimated Submitted Charges']==32105.6363)) | ((p_chrg_outpat['Provider Id']==50764) & (p_chrg_outpat['Average  Estimated Submitted Charges']==32079.99067)) | ((p_chrg_outpat['Provider Id']==100179) & (p_chrg_outpat['Average  Estimated Submitted Charges']==27625.39130)))].sort_values(by='Average  Estimated Submitted Charges', ascending=False)

,APC,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
4983,0074 - Level IV Endoscopy Upper Airway,100223,FORT WALTON BEACH MEDICAL CENTER,1000 MAR-WALT DR,FORT WALTON BEA,FL,32547,FL - Pensacola,11,32105.63630,1396.48
4939,0074 - Level IV Endoscopy Upper Airway,50764,SHASTA REGIONAL MEDICAL CENTER,1100 BUTTE ST,REDDING,CA,96001,CA - Redding,15,32079.99067,1833.50
4981,0074 - Level IV Endoscopy Upper Airway,100179,MEMORIAL HOSPITAL JACKSONVILLE,3625 UNIVERSITY BLVD S,JACKSONVILLE,FL,32216,FL - Jacksonville,23,27625.39130,1409.17

In [388]:
p_chrg_outpat[(p_chrg_outpat['Average  Estimated Submitted Charges']==32105.6363)]

,APC,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
4983,0074 - Level IV Endoscopy Upper Airway,100223,FORT WALTON BEACH MEDICAL CENTER,1000 MAR-WALT DR,FORT WALTON BEA,FL,32547,FL - Pensacola,11,32105.6363,1396.48